body{
    margin:0;
    padding: 0;
    background-color: rgb(66, 57, 57);
}
#outer
{
    /* display: flex; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    width: 50%;
    height: 75%;
    background-color: rgb(196, 183, 67);
    text-align: center;
    font-size: 20px;
    border-radius: 180px;
    text-shadow: 10px greenyellow;
    box-shadow:5px 10px 20px 10px rgb(0, 0, 0.75);
}
#container
{
    border-radius: 0 0 20px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:lightsalmon;
    box-shadow:5px 10px 20px 0 rgb(0, 0, 0.75);
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around; */
    border: 1px solid black;
    /* width:23%; */
    /* height:50vh; */
}
#ib
{
    
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
    height: 10vh;
    width: 303px;
    background-color: black;
    color: white;
    border:none;
    font-size: 30px;
}
button{
    border: none;
    border-radius:5px;
    margin: 10px;
    margin-left: 12px;
    padding: 10px;
    width: 50px;
    font-size: 20px;
}
#clea
{
    background-color: red;
    width: 170px;
}